# Default ignored files
/../../../:Console Games Project/.idea/shelf/
/../../../:Console Games Project/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:Console Games Project/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../:Console Games Project/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../:Console Games Project/.idea/dataSources/
/../../../:Console Games Project/.idea/dataSources.local.xml
